/** user specific styles here **/
body {
	/* background-color: black; */
    background-image: linear-gradient(to bottom right, rgba(6, 106, 153, 0.986), rgb(5, 39, 114));
	text-align: center;
    color: aliceblue;
    line-height: 1.5;
}
 
.container {
	margin:0 auto;
	width:60rem;
	font-size: 100%;
	line-height: 1.2;
}


header{
	background-color: #3f3f40;
	display: flex;
}

header img{
    margin: 1.563rem;
    width: 10rem;
    height: 3.125rem;
}


.banner{
    background-image: url(../img/BG-1.jpg);
    height: 47.188rem;
}

.intro {
    padding: 0 5rem;
}

h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 3rem;
    padding: 2rem;
    color: rgb(3, 0, 5);
}

h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 1.5rem;
    padding: 2rem;
}

h3 {
    font-family: 'Russo One', sans-serif;
    font-size: 1rem;
}

p {
    font-family: 'Rajdhani', sans-serif;
}



h3, p {
    padding-top: 0.938rem;
}

h2, h3, p {
    text-align: left;
}

.adaptations {
    padding-bottom: 2.813rem;
}



footer{
	background-color: #3f3f40;
	color: #a4a5a6;
    text-align: center;
    padding: 2rem;
    
}

footer p{
	font-size: 0.75rem;
	color:white;

}

footer a {
    text-decoration: none;
    color: white;
   
}


